html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, .1) 0 0 1px;
}
* {
  box-sizing: border-box;
}
strong, b {
  font-weight: 700;
}
body {
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.43;
  background-color: #FFFFFF;
}
@media print {
  body {
    background-color: #fff;
  }
}
body::backdrop {
  background-color: #FFFFFF;
}
